@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstract/functions';

@import 'base/base';
@import 'base/animations.';
@import 'base/typography';

@import 'layout/header';

/* Button "Discover our tours */
.btn, .btn:link, .btn:visited {
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    text-transform: uppercase;
    transition: all .2s;
    position:absolute;
    top: 15rem;
    left:18rem;
    border: none;
    cursor: pointer; }
  
    .btn--animated {
    animation: MoveInBot .5s ease-out .75s;
    animation-fill-mode: backwards; }
  
    .btn--white {
    color: #777;
    background-color: $color-white; }
    
    .btn--white::after {
    background-color: $color-white; }

  
  .btn:hover {
    transform: translateY(-.3rem);
    box-shadow: rgba($color-black, 0.2) 0 1rem 2rem; }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-.1rem);
    box-shadow: rgba($color-black, 0.2) 0 0.5rem 1rem; }
  
  .btn::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
        /* Animations */
        /* Animations */
        /* Animations */
        /* Animations */
        /* Animations */
    @keyframes MoveInLeft {
        0% {
            opacity: 0;
            transform: translate(-10rem) rotateX(120deg);
    }
        80%{
            transform: translate(1rem);
        }
        100% {
        opacity: 1;
        transform: translate(0);
    }   
    }
    @keyframes MoveInRight {
        0%{
            opacity: 0;
            transform: translate(10rem) rotateX(-120deg);
        }
        80% {
            transform: translate(-1rem);
        }
        100%{
            opacity: 1;
            transform: translate(0);
        }
        
    }
    @keyframes MoveInBot {
        0%{
            opacity: 0;
            transform: translateY(5rem)
        }
        100%{
            opacity: 1;
            transform: translateY(0);
        }
        
    }
    /* Need to thing! */
    /* Need to thing! */
    /* Need to thing! */
    /* Need to thing! */
    @keyframes ForLogo{   
        0%{
            transform: rotate(0deg) 
                }
        100%{
            transform: rotate(360deg)
        }
     }
