/* line 3, style/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 8, style/style.scss */
html {
  font-size: 62.5%; }

/* line 11, style/style.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  padding: 3rem; }

/* line 17, style/style.scss */
.heading {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(background.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); }

/* line 27, style/style.scss */
.heading-primary {
  text-transform: uppercase;
  color: #fff; }

/* Welcome to Uzbekistan */
/* line 31, style/style.scss */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

/* Welcome to */
/* line 38, style/style.scss */
.heading-primary--main {
  display: block;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 4rem;
  animation: MoveInLeft 2s; }

/* Uzbekistan */
/* line 46, style/style.scss */
.heading-primary--sub {
  display: block;
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 2.5rem;
  animation: MoveInRight 2s; }

/* LOGO */
/* line 53, style/style.scss */
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  animation: ForLogo 1.5s infinite; }

/* line 59, style/style.scss */
.header__logo {
  height: 6rem;
  width: 6rem; }

/* Button "Discover our tours */
/* line 64, style/style.scss */
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  text-transform: uppercase;
  transition: all .2s;
  position: absolute;
  top: 15rem;
  left: 18rem;
  border: none;
  cursor: pointer; }

/* line 77, style/style.scss */
.btn--animated {
  animation: MoveInBot .5s ease-out .75s;
  animation-fill-mode: backwards; }

/* line 81, style/style.scss */
.btn--white {
  color: #777;
  background-color: #fff; }

/* line 85, style/style.scss */
.btn--white::after {
  background-color: #fff; }

/* line 89, style/style.scss */
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1rem 2rem; }

/* line 92, style/style.scss */
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

/* line 96, style/style.scss */
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.5rem 1rem; }

/* line 101, style/style.scss */
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

/* Animations */
/* Animations */
/* Animations */
/* Animations */
/* Animations */
@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem) rotateX(120deg); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem) rotateX(-120deg); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInBot {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* Need to thing! */
/* Need to thing! */
/* Need to thing! */
/* Need to thing! */
@keyframes ForLogo {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
