/* line 1, style/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 6, style/base/_base.scss */
html {
  font-size: 62.5%; }

/* line 9, style/base/_base.scss */
body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  padding: 3rem;
  color: #777; }

/* line 2, style/base/_typography.scss */
.heading-primary--main {
  display: block;
  font-size: 100%;
  font-weight: 400;
  letter-spacing: 4rem;
  animation: MoveInLeft 2s; }

/* line 9, style/base/_typography.scss */
.heading-primary--sub {
  display: block;
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 2.5rem;
  animation: MoveInRight 2s; }

/* line 16, style/base/_typography.scss */
.heading-secondary {
  letter-spacing: .8rem;
  font-weight: 800;
  font-size: 3rem;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 1s; }
  /* line 27, style/base/_typography.scss */
  .heading-secondary:hover {
    transform: skewX(10deg) skewY(2deg) scale(1.5); }

/* line 32, style/base/_typography.scss */
.heading-tertiary {
  font-weight: 600;
  font-size: 2rem; }

/* line 37, style/base/_typography.scss */
.heading-tertiary, .paragraph {
  color: #595959; }

@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translate(-10rem) rotateX(120deg); }
  80% {
    transform: translate(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translate(10rem) rotateX(-120deg); }
  80% {
    transform: translate(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes MoveInBot {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes ForLogo {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* line 1, style/base/_utility.scss */
.u-text-center {
  text-align: center; }

/* line 4, style/base/_utility.scss */
.u-text-up {
  text-transform: uppercase; }

/* line 7, style/base/_utility.scss */
.u-margin-bot-big {
  margin-bottom: 8rem; }

/* line 10, style/base/_utility.scss */
.u-margin-bot-mid {
  margin-bottom: 4rem; }

/* line 13, style/base/_utility.scss */
.u-margin-bot-small {
  margin-bottom: 2rem; }

/* line 16, style/base/_utility.scss */
.u-text-size {
  font-size: 2rem; }

/* line 2, style/layout/_header.scss */
.heading {
  height: 95vh;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-image: linear-gradient(to right bottom, rgba(0, 176, 155, 0.8), rgba(150, 201, 61, 0.6)), url(background.jpg); }
  /* line 20, style/layout/_header.scss */
  .heading-primary {
    text-transform: uppercase;
    color: #fff; }

/* line 27, style/layout/_header.scss */
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

/* line 38, style/layout/_header.scss */
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
  animation: ForLogo 1.5s; }

/* line 46, style/layout/_header.scss */
.header__logo {
  height: 6rem;
  width: 6rem; }

/* line 1, style/layout/_grid.scss */
.row {
  width: 144rem;
  margin: 0 auto; }
  /* line 5, style/layout/_grid.scss */
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  /* line 5, style/abstracts/_mixins.scss */
  .row::after {
    content: "";
    clear: both;
    display: table; }

/* line 13, style/layout/_grid.scss */
[class^=col-] {
  float: left; }
  /* line 15, style/layout/_grid.scss */
  [class^=col-]:not(:last-child) {
    margin-right: 6rem; }

/* line 20, style/layout/_grid.scss */
.col-1-of-2 {
  width: calc( (100% - 6rem) / 2); }

/* line 23, style/layout/_grid.scss */
.col-1-of-3 {
  width: calc( (100% - 2 * 6rem) / 3); }

/* line 26, style/layout/_grid.scss */
.col-2-of-3 {
  width: calc(2 * ( (100% - 2 * 6rem) / 3) + 6rem); }

/* line 29, style/layout/_grid.scss */
.col-1-of-4 {
  width: calc( (100% - 3 * 6rem) / 4); }

/* line 32, style/layout/_grid.scss */
.col-2-of-4 {
  width: calc(2 * ( (100% - 3 * 6rem) / 4) + 6rem); }

/* line 35, style/layout/_grid.scss */
.col-3-of-4 {
  width: calc(3 * ( (100% - 3 * 6rem) / 4) + 2 * 6rem); }

/* line 2, style/components/_buttons.scss */
.btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  text-transform: uppercase;
  transition: all .2s;
  position: absolute;
  top: 15rem;
  left: 18rem;
  border: none;
  cursor: pointer; }

/* line 16, style/components/_buttons.scss */
.btn--animated {
  animation: MoveInBot .5s ease-out .75s;
  animation-fill-mode: backwards; }

/* line 20, style/components/_buttons.scss */
.btn--white {
  color: #777;
  background-color: #fff; }
  /* line 24, style/components/_buttons.scss */
  .btn--white::after {
    background-color: #fff; }

/* line 30, style/components/_buttons.scss */
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1rem 2rem; }
  /* line 34, style/components/_buttons.scss */
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

/* line 39, style/components/_buttons.scss */
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: rgba(0, 0, 0, 0.2) 0 0.5rem 1rem; }

/* line 45, style/components/_buttons.scss */
.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

/* line 63, style/components/_buttons.scss */
.btn-text:link, .btn-text:visited {
  position: absolute;
  display: inline;
  padding: .7rem;
  text-decoration: none;
  color: #00b09bbe;
  border-bottom: #00b09bbe solid 1px;
  transition: all .2s; }

/* line 78, style/components/_buttons.scss */
.btn-text:hover {
  transform: translateY(-3px);
  background-color: #00b09bbe;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

/* line 86, style/components/_buttons.scss */
.btn-text:focus {
  transform: translateY(0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

/* line 1, style/components/_images.scss */
.composition {
  position: relative; }
  /* line 4, style/components/_images.scss */
  .composition__photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    z-index: 10;
    position: absolute;
    outline-offset: 1.2rem;
    transition: all .5s; }
    /* line 12, style/components/_images.scss */
    .composition__photo--1 {
      left: 0;
      top: -2rem; }
    /* line 17, style/components/_images.scss */
    .composition__photo--2 {
      right: 4rem;
      top: 1rem; }
    /* line 21, style/components/_images.scss */
    .composition__photo--3 {
      top: 10rem;
      left: 4rem; }
    /* line 26, style/components/_images.scss */
    .composition__photo:hover {
      outline: 0.7rem solid #55c57a;
      transform: scale(1.1) translateY(-0.5rem);
      box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.4);
      z-index: 20; }
  /* line 35, style/components/_images.scss */
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

/* line 1, style/components/_feature_box.scss */
.feature-box {
  font-size: 1.6rem;
  padding: 2.5rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform .5s; }
  /* line 13, style/components/_feature_box.scss */
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.4); }
  /* line 21, style/components/_feature_box.scss */
  .feature-box__icon {
    display: inline-block;
    font-size: 6rem;
    margin-bottom: .5rem;
    background-image: linear-gradient(to right, #96c93d, #00b09b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

/* line 1, style/pages/_home_page.scss */
.section-about {
  margin: 0 auto;
  padding: 40rem 0;
  margin-top: -20vh;
  background-color: #f7f7f7; }

/* line 10, style/pages/_home_page.scss */
.section-features {
  margin-top: -15vh;
  padding: 25rem 0;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(to right bottom, rgba(0, 176, 155, 0.8), rgba(150, 201, 61, 0.6)), url(photo.jpg);
  transform: skewY(-7deg); }
  /* line 24, style/pages/_home_page.scss */
  .section-features > * {
    transform: skewY(7deg); }

/* line 1, style/utility/_utility.scss */
.u-text-about {
  text-align: center; }
