.row{
    width: $grid-width;
    background-color: #eee;
    margin: 0 auto;

   &:not(:last-child){ 
     margin-bottom: $vertical-gutter;
    
    }
    @include clearfix;}

  

  [class^=col-]{
    float:left;
    background-color: $color-orange;

    &:not(:last-child){
      margin-right: $horizontal-gutter;
    }

  }
  .col-1-of-2{

  }