*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

html{
    font-size: 62.5%;}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    padding: 3rem;}
   
    section{
        margin:0 auto;
        float:left;
        @include clearfix;
        
        .row{
            margin-bottom: 8rem;
              }
              .colum-1-of-2{
                  background-color: $color-orange;
                  padding: 0 $vertical-gutter;
              }
              .colum-1-of-3{
                background-color: $color-orange;
                padding: 0 $vertical-gutter;
              }

    }
