*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

html{
    font-size: 62.5%;}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    padding: 3rem;}
   
    section{
        margin: 0 auto;
        width: $row-width;
        .row:not(:last-child){
          @include clearfix;
          margin-bottom: 6rem;
          justify-content: space-between;
          .col-1-of-2{
            display: inline-grid;
            background-color: $color-orange;
            width: calc((100% - #{$horizontal-gutter}) / 2);
            justify-content: space-between;
          }
          //.col-1-of-2:not(:last-child){
          //  float: right;
          //}
        }
        .row:nth-child(2){
          .col-1-of-3{
            display: inline-grid;
            background-color: $color-orange;
            justify-content: space-between;
            width: calc((100% - #{$horizontal-gutter}) / 3);
          }
        }
        .row:nth-child(3){
          .col-1-of-3{
            display: inline-grid;
            background-color: $color-orange;
            width: calc((100% - #{$horizontal-gutter}) / 3);
          }
          .col-2-of-3{
            display: inline-grid;
            background-color: $color-orange;
            width: calc((100% - #{$horizontal-gutter}) / 1.5);
          }
        }
        .row:nth-child(4){
          .col-1-of-4{
            display: inline-grid;
            background-color: $color-orange;
            width: calc((100% - #{$horizontal-gutter}) / 4);
            justify-content: space-between;
          }
        }
        .row:nth-child(5){
          .col-1-of-4{
            display: inline-grid;
            background-color: $color-orange;
            width: calc((100% - #{$horizontal-gutter}) / 4);
          }
          .col-1-of-4{
            display: inline-grid;
            background-color: $color-orange;
            width: calc((100% - #{$horizontal-gutter}) / 4);
          }
          .col-2-of-4{
            display: inline-grid;
            background-color: $color-orange;
            width: calc((100% - #{$horizontal-gutter}) / 2);
          }
        }
        .row:nth-child(6){
          .col-1-of-4{
            display: inline-grid;
            background-color: $color-orange;
            width: calc((100% - #{$horizontal-gutter}) / 4);
          }
          .col-3-of-4{
            display: inline-grid;
            background-color: $color-orange;
            width: calc((100% - #{$horizontal-gutter}) / 1.5);
          }
        }
      }
