$color-primary: #fefaa9;
$color-primary-light: #00b09bbe;
$color-primary-dark: #f64747;
$color-white: #fff;
$color-sunset-gray: #dcb397;
$color-dark-grey: #777;
$color-black: #000;
$color-orange: rgb(252, 155, 28);
$grid-width: 144rem;
$vertical-gutter:8rem;
$horizontal-gutter:6rem;