
//Colors

$color-primary: aliceblue;
$color-primary-light: #00b09bbe;
$color-primary-dark: #96c93dc0;
$color-white: #fff;
$color-gray: #f7f7f7;
$color-dark-grey: #777;
$color-black: #000;
$color-orange:orange;

//Sizes

$grid-width: 144rem;
$vertical-gutter:8rem;
$horizontal-gutter:4rem;