
//Colors

$color-primary: aliceblue;
$color-primary-light: #00b09bbe;
$color-primary-dark: #96c93dc0;
$color-white: #fff;
$color-light-gray: #f9fdf7;
$color-dark-gray: #777;
$color-black: #000;
$color-orange:orangered;
$color-sample: #76ff88;
$color-secondary-dark:#ff7730;
$color-secondary-light:#ffb900;
$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;
$color-grey-light-2:#4d4f53;
//Sizes

$grid-width: 144rem;
$vertical-gutter:8rem;
$horizontal-gutter:6rem;