$color-primary: #55c57a;
$color-primary-light: #7ed56fd8;
$color-primary-dark: #28b485ce;
$color-white: #fff;
$color-dark-grey: #777;
$color-black: #000;
$color-orange: rgb(252, 155, 28);
$grid-width: 144rem;
$vertical-gutter:8rem;
$horizontal-gutter:6rem;