$color-primary: #55c57a;
$color-primary-light: #7ed56fd8;
$color-primary-dark: #28b485ce;
$color-white: #fff;
$color-dark-grey: #777;
$color-black: #000;
$row-width: calc( ( 100% - 30rem) / 2);
$horizontal-gutter: calc(  (100% - 30rem) / 2);
$vertical-gutter: 5rem;