$color-primary: #55c57a;
$color-primary-light: #7ed56fd8;
$color-primary-dark: #28b485ce;
$color-white: #fff;
$color-dark-grey: #777;
$color-black: #000;
$row-width: 10rem;
$horizontal-gutter: 5rem;
$vertical-gutter: calc( 50% - 5rem);