.cards{

position: relative;
transition: transform .8s;
height: 53rem;
    &__side{
        position: absolute;
        border: solid black 1px;
        padding: 20rem 20rem;
        background-color: $color-white;
        height: 53rem;

        &--front{
            
            &:hover{
                transform: rotateY(180);
            }
        }


        &--back{
            transform: rotateY(-180);

            &:hover{
                transform: rotateY(0);
            }
        }
    }
}