.cards{

    position: relative;


    background-color: $color-white;

    &__side{

        position: absolute;



        &--front{
            transform: rotateY(0);

            &:hover{
                transform: rotateY(180deg);
            }
        }


        &--back{
            transform: rotateY(180deg);

            &:hover{
                transform: rotateY(0);
            }
        }
    }
}