.cards{

        


    background-color: $color-white;

    &__side{
        position: relative;
        border: solid black 1px;
        padding: 20rem 0;
        &--front{
            
            &:hover{
                transform: rotateY(180deg);
            }
        }


        &--back{
            transform: rotateY(180deg);

            &:hover{
                transform: rotateY(0);
            }
        }
    }
}