.cards{
    perspective: 150rem;
    -webkit-perspective: 150rem;
    height: 53rem;
    position: relative;

    &__side{
        height: 53rem;
        transition: all .8s ease;
        font-size: 2rem;
        width: 100%;
        border-radius: 3px;
        overflow: hidden;
        backface-visibility: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        position:absolute;
        top:0;
        left:0;


        &--front{
            background-color: $color-white;
        }
        &--back{
            transform: rotateY(180deg);
        }
    }
}