.composition {
    position: relative; }
    
    .composition__photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 10;
      position: absolute;
      outline-offset: 1.2rem;
      transition: all .2s; }