.composition {
    position: relative; 

    &__photo {
      width: 55%;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 10;
      position: absolute;
      outline-offset: 1.2rem;
      transition: all .5s; 
      
    &--1{
      left:0;
      top:-2rem;}
    

    &--2{
      right: 0;
      top: 2rem;}

    &--3{
      top:10rem;
      left:4rem;}
    
  
      &:hover {
        outline: 0.7rem solid #55c57a;
        transform: scale(1.1) translateY(-0.5rem);
        box-shadow: 0 2.5rem 5rem rgba(0, 0, 0, 0.4);
        z-index: 20;}
      
    
  }
  
  }

    
    
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }