.section-about{
    margin: 0 auto;
    padding: 40rem 0;
    margin-top: -20vh;


    background-color: $color-light-gray;}

.section-features{
    margin-top: -15vh;
    padding: 25rem 0;    
    background-size: cover;
    background-position: center;


    background-image:linear-gradient(to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.6)),
     url(photo.jpg);

    
    transform: skewY(-7deg);
    & > *{
        transform: skewY(7deg);}}


.section-card{

    margin: 0 auto;
    padding: 70rem 0;
    padding-bottom: 80rem;
    margin-top: -20vh;

    background-color: $color-light-gray;
}

.section-stories{
    padding: 20rem 0;
    background-color: $color-secondary-dark;
}